name: Deploy

env:
  BEARER_TOKEN: ${{ secrets.BEARER_TOKEN }}
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Node ${{ matrix.node }} sample
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
  nri-flex:
    if: ${{ always() }}
    needs: [ build ]
    name: Send data to flex
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: supplypike/setup-bin@v3
        with:
          uri: 'https://github.com/newrelic/nri-flex/releases/download/v1.7.0/nri-flex_linux_1.7.0_amd64.tar.gz'
          name: 'Send data to NR'
          version: '1.7.0'
          command: ./nri-flex -config_path /home/runner/work/devrel-golang-dora/devrel-golang-dora/gh-flex.yml -insights_url https://insights-collector.newrelic.com/v1/accounts/${{secrets.ACCOUNT_ID}}/events -insights_api_key ${{secrets.INSIGHTS_API_KEY}}